
:root {
    --theme-color:#dab200;
    --secondary-color:#CE967B;
    --opposite-color:#CE967B;
    --text-color:#514e4e;
    --title-color:#514e4e;
    --white-color:#ffffff;
    --light-bg-color:#f6f6f6;
    --bg-color:#ffffff;
}

html {
    scroll-behavior: smooth;
}

.noscroll {
    overflow: hidden;
    height: 100vh;
}

body,
html {
    background: var(--bg-color)!important;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.img-responsive {
    max-width: 100%;
    display: block;
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
    
}

button,
input,
select {
    outline: none;
    font-family: sans-serif;
}


button,
.btn,
select {
    cursor: pointer;
    font-family: sans-serif;
    background: var(--secondary-color)!important;
}

a,
a:hover {
    text-decoration: none;
    transition: 0.3s ease;
}

iframe {
    border: none;
}
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

span.diff {
    color: var(--secondary-color);
}

.btn-theme {
    padding: 12px 30px;
    color: #222222;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s ease-in;
    border: 0;
}

.btn-theme:hover {
    background: var(--theme-color);
    outline: none;

}


.btn-secondary:focus,
.btn-secondary.focus {
    background-color: none !important;
    border-color: none !important;
    box-shadow: none !important;
}

.btn-theme1 {
    padding: 8px 16px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s ease-in;
    border: 0;
}

.btn-theme1:hover {
    background: var(--theme-color);
    outline: none;
}

.btn-secondary:focus,
.btn-secondary.focus {
    background-color: none !important;
    border-color: none !important;
    box-shadow: none !important;
}

.btn-theme1:focus {
    border-color: none !important;
}

.btn-theme2 {
    padding: 10px 30px;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    transition: 0.3s ease-in;
    border: 2px solid var(--opposite-color);
    background: var(--opposite-color);
}
.btn-theme2:hover {
    background: var(--theme-color);
    border: 2px solid var(--theme-color);
    color: var(--white-color);
}

.btn-theme2:focus {
    border-color: none !important;
}

.btn-theme3 {
    padding: 10px 24px;
    color: #222222;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    transition: 0.3s ease-in;
    border: 2px solid var(--opposite-color);
    background: var(--opposite-color);
}
.btn-theme3:hover {
    background: var(--theme-color);
    border: 2px solid var(--theme-color);
    color: #fff;
}

.btn-theme3:focus {
    border-color: none !important;
}

.btn-theme4 {
    padding: 8px 16px;
    color: #222222;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    transition: 0.3s ease-in;
    border: 2px solid var(--opposite-color);
    background: var(--opposite-color);
}
.btn-theme4:hover {
    background: var(--theme-color);
    border: 2px solid var(--theme-color);
    color: #fff;
}

.btn-theme5:focus {
    border-color: none !important;
}

.btn-theme5 {
    padding: 10px 30px;
    color: #222222;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    transition: 0.3s ease-in;
    border: 2px solid #747474;
    background: #747474;
}

.btn-theme5:hover {
    background: var(--theme-color);
    border: 2px solid var(--theme-color);
    color: var(--white-color);
}

.btn-theme2:focus {
    border-color: none !important;
}


.btn-secondary:focus,
.btn-secondary.focus {
    background-color: none !important;
    border-color: none !important;
    box-shadow: none !important;
}

a.red {
    font-size: 16px;
    font-weight: 600;
    color: var(--opposite-color);
    display: inline-block;
}

a.red:hover {
    color: var(--theme-color);
}

.heading {
    max-width: 750px;
}

.heading h3 {
    font-size: 36px;
    line-height: 42px;
    color: var(--title-color);
    font-weight: 600;
}

.heading p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 24px;
}

h4.sub-title {
    font-size: 18px;
    margin: 0;
    text-align: center;
}

@media (max-width: 414px) {
    .heading h3 {
        font-size: 30px;
        line-height: 36px;
    }
}