
.tank-bootstrap-header .navbar-expand-lg
.navbar-nav .dropdown-menu {
    transform: translateX(-50px);
}

.tank-bootstrap-header .navbar-expand-lg
.navbar-nav .dropdown-menu:before {
    content: "";
    width: 10px;
    height: 10px;
    background: var(--white-color);
    border: 1px #d5d5d5ee solid;
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -6px;
    left: 49%;
    z-index: 1001;
}

.tank-bootstrap-header .dropdown-toggle::after {
    margin-left: 0.1em;
    border-top: 0.3em solid;
    border-right: 0.2em solid transparent;
    border-left: 0.2em solid transparent;
    vertical-align: middle;
    
}

.tank-bootstrap-header .dropdown-item:hover,
.tank-bootstrap-header .dropdown-item:focus {
    color: var(--opposite-color);
    text-decoration: none;
    background-color: transparent;
}

.tank-bootstrap-header nav.navbar {
    position: absolute;
    z-index: 9;
    width: 100%;
    margin: 0 auto;
    top: 20px;
    left: 0;
    right: 0;
}

.tank-bootstrap-header .form-inline .search {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: transparent;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    -webkit-apearance: none;
    border: 1px solid "dedede";
    padding-right: 38px;
    
}

.tank-bootstrap-header button.btn-search {
    right: 0;
    color: #fff;
}

.tank-bootstrap-header a.navbar-brand {
    color: var(--white-color);
    font-weight: bold;
    font-size: 36px;
    padding: 0;
   
    font-family: sans-serif;
}

.tank-bootstrap-header a.navbar-brand span {
    font-size: 36px;
    color: var(--secondary-color);
}

.tank-bootstrap-header .navbar {
    padding: 0;
}

.tank-bootstrap-header .navbar-light .navbar-brand:hover,
.tank-bootstrap-header .navbar-light .navbar-brand:hover:focus {
    color: var(--white-color);
}

.tank-bootstrap-header .navbar-light .navbar-nav .show > .nav-link,
.tank-bootstrap-header .navbar-light .navbar-nav .active > .nav-link,
.tank-bootstrap-header .navbar-light .navbar-nav .nav-link.show,
.tank-bootstrap-header .navbar-light .navbar-nav .nav-link.active {
    color: var(--opposite-color);
}

.tank-bootstrap-header .navbar-light .navbar-nav .nav-link:hover,
.tank-bootstrap-header .navbar-light .navbar-nav .nav-link:focus {
    color: var(--secondary-color);
}

.tank-bootstrap-header .navbar-light .navbar-nav .nav-link{
    color: var(--white-color);
    text-transform: uppercase;
}

.tank-bootstrap-header li.nav-item {
    margin: 0px 10px;
}

.tank-bootstrap-header li.nav-item:nth-child(6){
    margin-right: 0px;
}

.tank-bootstrap-header .navbar-toggler {
   
    padding: 0.25rem 0.6rem;
    font-size: 1rem;
    background-color: var(--opposite-color);
    border: none;
    outline: none;
}

.tank-bootstrap-header .navbar-toggler:hover {
    background-color: var(--theme-color);
}

.tank-bootstrap-header .search::placeholder {
    color: #fff;
    opacity: 1;
}

@media (max-width: 992px) {

    .tank-bootstrap-header .navbar-light .navbar-nav .show > .nav-link,
.tank-bootstrap-header .navbar-light .navbar-nav .active > .nav-link,
.tank-bootstrap-header .navbar-light .navbar-nav .nav-link.show,
.tank-bootstrap-header .navbar-light .navbar-nav .nav-link.active {
    color: var(--opposite-color);
    
}

.tank-bootstrap-header .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.tank-bootstrap-header span.navbar-toggler-icon.fa.fa-bars {
    padding-top: 4px;
}

.tank-bootstrap-header .navbar-light .navbar-toggler-icon {
    background-image: none !important;
    color: #fff;
}

.tank-bootstrap-header .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(0px);
}

.tank-bootstrap-header .navbar-expand-lg .navbar-nav .dropdown-menu:before{
    top: -5px;
    left: 4%;
}

.tank-bootstrap-header div#navbarSupportedContent {
    background: var(--title-color);
    padding: 10px;
    border-radius: 4px;
    position: relative;
    border: 1px rgba(0, 0, 0, 0.09) solid;
    max-height: calc(100vh - 120px);
    overflow: auto;
}

}


@media (max-width: 569px) {
    .tank-bootstrap-header nav.navbar {
        padding: 0 15px;
    }
}

@media (max-width: 320px) {
    .tank-bootstrap-header a.navbar-brand {
        font-size: 28px;
    }
    .tank-bootstrap-header .navbar-brand {
        margin-right: 0rem;
    }
}

.tank-header-4 {
    background: #000;
}

.tank-header-4 .button span.fa {
    color: var(--opposite-color);
}

.tank-header-4 a.brand-logo span.fa {
    color: var(--opposite-color);
}

.tank-header-4 #headers4-block {
    margin: 0px auto;
    padding: 10px 0;
}

.tank-header-4 .header-align {
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 40px;
}


.tank-header-4 a.brand-logo {
    color: var(--white-color);
    font-weight: bold;
    font-size: 36px;
}

.tank-header-4 input#nav {
    display: none;
}

.tank-header-4 label.nav {
    display: none;
}

.tank-header-4 ul.nav-links li {
    display: inline-block;
    font-weight: 400;
}

.tank-header-4 ul.nav-links li:last-child{
    margin-left: auto;
}

.tank-header-4 ul.nav-links li a {
    font-size: 15px;
    color: #3b5266;
    text-decoration: none;
    padding: 0px 17px;
    display: block;
}

.tank-header-4 ul.nav-links li a:hover {
    color: #000000;
}

.tank-header-4 a.actionbg {
    font-size: 16px;
    text-align: center;
    color: var(--btn-color);
    background: var(--white-color);
    width: 90px;
    height: 37px;
    line-height: 37px;
    display: inline-block;
    border-radius: 3px;
}

.tank-header-4 a.actionbg:hover{
    color: #ffffff;
    background: var(--opposite-color);
}

.tank-header-4 .toggle-2,
.tank-header-4 .toggle,
.tank-header-4 [id^="drop"] {
    display: none;
}

.tank-header-4 nav {
    margin-left: auto;
    padding: 0;
    margin-top: 0px;
}

.tank-header-4 #logo a {
    float: left;
}

.tank-header-4 #logo a img {
    height: 30px;
}

.tank-header-4 nav:after{
    content: "";
    display: table;
    clear: both;
}


.tank-header-4 nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.tank-header-4 nav ul ul:before{
    content: "";
    width: 10px;
    height: 10px;
    background: var(--white-color);
    border-left: 1px var(--white-color) solid;
    border-top: 1px var(--white-color) solid;
    display: block;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -6px;
    left: 49%;
    z-index: 1001;
}

.tank-header-4 .form-inline .search {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: transparent;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    -webkit-apearance:none;
    border: 1px solid #dedede;
    padding-right: 38px;

}

.tank-header-4 button.btn-search {
    right: 0;
    color: #fff;
}

.tank-header-4 .search::placeholder {
    color: #fff;
    opacity: 1;
}


.tank-header-4 nav ul li {
    display: inline-block;
    margin: 0px 15px;
    position: relative;
}

.tank-header-4 nav ul li:last-child {
    margin-right: 0px;
}


.tank-header-4 nav a {
    font-weight: 400;
    display: inline-block;
    transition: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: var(--white-color);
    text-transform: capitalize;
}

.tank-header-4 .angle-dropdown {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.1em;
    vertical-align: 0.16em;
    content: "";
    border-top: 0.3em solid var(--white-color);
    border-right: 0.2em solid transparent;
    border-bottom: 0;
    border-left: 0.2em solid transparent;
}


.tank-header-4 .angle-dropdown-sub {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.1em;
    vertical-align: 0.16em;
    content: "";
    border-top: 0.3em solid #ffffff;
    border-right: 0.2em solid transparent;
    border-bottom: 0;
    border-left: 0.2em solid transparent;
    transform: rotate(-90deg);
}

.tank-header-4 nav a:hover {
    color: var(--opposite-color);
}

.tank-header-4 nav ul ul {
    display: none;
    position: absolute;
    top: 64px;
    left: -50px;
    padding:10px 20px;
    background: #ffffff;
    z-index: 999;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transform: translateX(-50px);
}

.tank-header-4 nav ul ul ul {
    display: none;
    position: absolute;
    top: 0px;
    left: 160px;
    width: 160px;
    background: var(--btn-color);
    z-index: 999;
    border: 1px solid var(--btn-color);
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.1);
    border-left: 0px solid var(--theme-color);
    border-radius: 3px;
}

.tank-header-4 nav ul li:hover > ul {
    display: inherit;
}
.tank-header-4 nav ul ul li {
    width: 175px;
    float: none;
    display: list-item;
    position: relative;
    margin: 2px 0;
}

.tank-header-4 nav ul ul li a {
    display: block;
    padding: 5px 12px;
    color: var(--title-color);
    text-transform: capitalize;
}

.tank-header-4 nav a {
    padding: 20px 0;
}

.tank-header-4 nav ul ul li a:hover {
    background: transparent;
    transition: 0.3s ease;
}

.tank-header-4 nav ul ul ul li {
    position: relative;
    top: 0;
    left: 0px;
}

.tank-header-4 li > a:only-child:after {
    content: "";
}

@media all and (max-width: 1080px) {
    .tank-header-4 .header-align {
        grid-gap: 25px;
    }
}


@media all and (max-width: 992px) {
    .tank-header-4 .navigation {
        float: none;
    }

    .tank-header-4 a.actionbg {
        display: none;
    }

    .tank-header-4 .logo {
        float: left;
    }

    .tank-header-4 .nav-mobile-block {
        display: block !important;
    }
    .tank-header-4 nav a.border-left {
        border-left: none !important;
    }

    .tank-header-4 .toggle + a,
    .tank-header-4 .menu {
        display: none;
    }

    .tank-header-4 .toggle {
        display: block;
        text-decoration: none;
        border: none;
        float: right;
        margin-bottom: 0;
        cursor: pointer;
        color: var(--white-color);
        background: var(--opposite-color);
        padding: 4px 10px;
        border-radius: 3px;
        margin-top: 12px;
    }
    .tank-header-4 .menu .toggle {
        float: none;
        margin: auto;
        padding: 5px 0;
        font-weight: normal;
        font-size: 15px;
        background: transparent;
        color: #111;
    }
    .tank-header-4 .toggle:hover{
        opacity: 0.8;
        transition: 0.5s all;
    }
    .tank-header-4 [id^="drop"]:checked + ul {
        display: block;
        padding: 10px 15px;
        background: var(--theme-color);
        width: 100%;
        border-radius: 4px;
    }
    .tank-header-4 ul.menu {
        overflow-y: scroll;
        z-index: 9999;
    }
    .tank-header-4 nav ul ul::-webkit-scrollbar,
    .tank-header-4 .header-4 ul.menu::-webkit-scrollbar{
        width: 4px;
    }
    .tank-header-4 nav ul ul::-webkit-scrollbar-track,
    .tank-header-4 .header-4 ul.menu::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #ffffff;
        border-radius: 5px;
    }
    .tank-header-4 nav ul ul::-webkit-scrollbar-thumb,
    .tank-header-4 .header-4 ul.menu::-webkit-scrollbar-thumb {
        background: rgba(82, 82, 82, 0.4);
    }
    .tank-header-4 nav ul {
        float: right;
    }

    .tank-header-4 nav {
        margin: 0 0 0 0px;
        order: 3;
    }
    .tank-header-4 nav ul li {
        display: block;
        width: 100%;
        margin: 0;
    }
    .tank-header-4 nav a:hover,
    .tank-header-4 nav ul ul ul a {
        background-color: transparent;
    }
    .tank-header-4 nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
        left: 0;
        transform: translateX(0px);
    }

    .tank-header-4 nav ul ul li:hover > ul,
    .tank-header-4 nav ul li:hover >  ul {
        display: none;
    }
    .tank-header-4 nav ul ul li {
        display: block;
        width: 100%;
        padding: 0;
    }
    .tank-header-4 nav ul ul ul li {
        position: static;
    }
    .tank-header-4 .navigation nav a {
        margin: 8px 0;
    }
    .tank-header-4 label.toggle.toggle-2,
    .tank-header-4 label.toggle.toggle-3,
    .tank-header-4 label.toggle.toggle-4,
    .tank-header-4 label.toggle.toggle-5,
    .tank-header-4 label.toggle.toggle-6 {
        display: block;
        transition: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-transform: capitalize;
        color: #fff;
    }
    .tank-header-4 label.toggle.toggle-2:hover,
    .tank-header-4 label.toggle.toggle-3:hover,
    .tank-header-4 label.toggle.toggle-4:hover,
    .tank-header-4 label.toggle.toggle-5:hover,
    .tank-header-4 label.toggle.toggle-6:hover {
        color: var(--opposite-color);
    }
    .tank-header-4 nav ul ul {
        margin-top: 10px;
        background: #fff !important;
    }
    .tank-header-4 nav ul ul ul{
        border: 1px solid #bc4a16;
        box-shadow: 0 0px 6px 0 #bc4a16;
        position: static;
    }
    .tank-header-4 nav ul ul li a {
        padding: 5px 0px;
    }

    .tank-header-4 .angle-dropdown-sub {
        transform: rotate(0deg);
        border-top: 0.3em solid #ffffff;
    }

    .tank-header-4 .button span.fa {
        font-size: 20px;
    }
    .tank-header-4 nav ul ul li a:hover{
        background: transparent;
        transition: 0.3s ease;
    }
    .tank-header-4 nav a {
        display: block;
        color: #fff;
    }
    .tank-header-4 nav a:hover{
        color: var(--opposite-color);
    }
    .tank-header-4 .angle-dropdown {
        border-top: 0.3em solid #fff; 
    }
    .tank-header-4 #headers4-block {
        padding: 10px 0;
    }
    .tank-header-4 nav a {
        padding: 4px 0;
    }
    .tank-header-4 nav ul ul:before {
        content: "";
        width: 10px;
        height: 10px;
        background: #fff;
        border-left: 1px #fff solid;
        border-top: 1px #fff solid;
        display: block;
        transform: translateX(-50%) rotateZ(45deg);
        position: absolute;
        top: -5px;
        left: 25px;
        z-index: 1001;
    }
    .tank-header-4 .button {
        display: none;
    }
}

@media (max-width:900px) {
    .tank-header-4 .button {
        right: 11em;
    }
}

@media (max-width:800px) {
    .tank-header-4 .logo,
    .tank-header-4 .button {
        z-index: 9;
    }
    .tank-header-4 a.actionbg {
        width: 90px;
        height: 35px;
        line-height: 35px;
    }
    .tank-header-4 .button{
        right: 8em;
    }
}

@media (max-width:768px) {
    .tank-header-4 .button {
        right: 7em;
    }
}

@media (max-width:736px) {
    .tank-header-4 .button {
        right: 12em;
    }
}
@media (max-width:668px) {
    .tank-header-4 .button {
        right: 10em;
    }
}
@media (max-width:641px) {
    .tank-header-4 .button {
        right: 9em;
    }
}
@media (max-width:601px) {
    .tank-header-4 .button {
        right: 8em;
    }
}
@media (max-width:569px) {
    .tank-header-4 .button {
        right: 6em;
    }
}
@media (max-width:441px) {
    .tank-header-4 .button {
        top: 1.2em;
    }
}

@media (max-width: 387px){
    .tank-header-4 a.brand-logo {
        font-size: 30px;
    }
    .tank-header-4 .toggle {
        margin-top: 2px;
    }
    .tank-header-4 ul.menu {
        top: 59px;
    }
}

@media (max-width: 320px){
    .tank-header-4 a.brand-logo {
        font-size: 30px;
    }
    .tank-header-4 .toggle {
        margin-top: 2px;
    }
    .tank-header-4 .button {
        right: 5.8em;
        top: 0.9em;
    }
}


.tank-main-banner h3.banner-text {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 65px;
    color: #fff;
}

.tank-main-banner .banner-info p {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}
.tank-main-banner .banner-info {
    padding-top: 100px;
}

.tank-main-banner .banner-slider {
    position: relative;
    z-index: 1;
}

.tank-main-banner .slider-info a img {
    transition: 0.3s ease-in;
}

.tank-main-banner .banner-view {
    background: url(../images/home1.png) no-repeat right;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
}

.tank-main-banner .banner-view:before{
    content: "";
    background: rgba(0, 0, 0, 0.57);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.tank-main-banner .banner-info img {
    border: 4px solid #fff;
    border-radius: 50%;
}

@media (max-width: 992px) {
    .tank-main-banner h3.gallery4-head {
        font-size: 30px;
        line-height: 37px;
    }
    .tank-main-banner .banner-info {
        padding-top: 140px;
    }
    .tank-main-banner h3.banner-text {
        font-size: 60px;
        line-height: 75px;
    }
    .tank-main-banner .banner-top-inner-page{
        min-height: 180px;
    }
}

@media(max-width:900px) {
    .tank-main-banner h3.banner-text {
        font-size: 55px;
        line-height: 70px;
    }
    .tank-main-banner .banner-top-inner-page {
        min-height: 150px;
    }
}

@media(max-width:600px)  {
    .tank-main-banner h3.gallery4-head {
        margin-bottom: 20px;
    }
    .tank-main-banner .banner-view{
        min-height: 550px;
    }
}

@media(max-width:569px) {
    .tank-main-banner h3.gallery4-head {
        font-size: 26px;
        line-height: 34px;
    }
    .tank-main-banner h3.banner-text {
        font-size: 45px;
        line-height: 55px;
    }
    .tank-main-banner .banner-view {
        min-height: 420px;
    }
    .tank-main-banner .banner-top-inner-page{
        min-height: 120px;
    }
}

@media(max-width:440px) {
    .tank-main-banner h3.banner-text {
        font-size: 40px;
        line-height: 50px;
    }
} 



.tank-feature-3 span.number img {
    vertical-align:  -webkit-baseline-middle;
}

.tank-feature-3 .top-bottom {
    background: url(../images/3.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0 120px;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}

.tank-feature-3 .top-bottom::before{
    content: "";
    background: rgba(7, 10, 12, 0.72);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.tank-feature-3 .middle-section {
    display: grid;
}

.tank-feature-3 .three-grids-columns {
    padding: 40px 40px;
    transition: 0.3s ease-out;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
}

.tank-feature-3 .three-grids-columns:hover{
    background: #000;
    transition: 0.3s ease-out;
    opacity: 0.8;
}

.tank-feature-3 .grid-column {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.tank-feature-3 .three-grids-columns h4 {
    font-size: 20px;
    color: var(--white-color);
    line-height: 30px;
    padding-top: 25px;
    font-weight: 800;
}
.tank-feature-3 .three-grids-columns p {
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
    color: var(--white-color);
}

.tank-feature-3 .three-grids-columns span.fa {
    font-size:  48px;
    color: var(--opposite-color);
}

.tank-feature-3 a.actionbg {
    font-size: 16px;
    color: var(--opposite-color);
    margin-top: 25px;
    display: inline-block;
    font-weight: 700;
}

.tank-feature-3 a.actionbg:hover {
    color: var(--white-color);
}

.tank-feature-3 img.arrow-png {
    padding-left: 5px;
}

@media(max-width: 1280px){
    .tank-feature-3 .three-grids-columns h4 {
        padding-top: 20px;
    }
    .tank-feature-3 .top-bottom {
        padding: 40px 0px;
    }
}

@media(max-width: 900px) {
    .tank-feature-3 a.actionbg {
        margin-top: 20px;
    }
    .tank-feature-3 .three-grids-columns h4 {
        padding-top: 13px;
    }
}

@media(max-width: 768px) {
    .tank-feature-3 .grid-column {
        grid-template-columns: 1fr;
        grid-gap: 35px;
    }
    .tank-feature-3 .three-grids-columns h4 {
        padding-top:  7px;
    }
    .tank-feature-3 a.actionbg{
        margin-top: 12px;
    }
}

@media(max-width: 768px) {
    .tank-feature-3 .three-grids-columns h4 {
        font-size: 22px;
    }
}

@media(max-width: 320px) {
    .tank-feature-3 .three-grids-columns h4 {
        font-size: 20px;
        line-height: 25px;
    }
}

